<html>
<body>
	<table id='home_container'>
		<tr>
			<td>
				<h1>Qual operação deseja fazer?</h1>
			</td>
		</tr>
		<table id='home_container_options'>
		<tr class='home_line'>
			<td class='home_options'>
				<a href="/most_relevants_html"> MAIS RELEVANTES</a>
			</td>
		</tr>
		<tr class='home_line'>
			<td class='home_options'>
				<a href="/most_relevants"> MAIS RELEVANTES JSON</a>
			</td>
		</tr>
		<tr class='home_line'>
			<td class='home_options'>
				<a href="/most_mentions_html"> MAIS MENÇÕES </a>
			</td>
		</tr>
		<tr class='home_line'>
			<td class='home_options'>
				<a href="/most_mentions"> MAIS MENÇÕES JSON</a>
			</td>
		</tr>
		</table>
	</table>
</body>
</html