<html>
<body>
	<table>
		<tr>
			<td>
				<h1>HOMEPAGE</h1>
			</td>
		</tr>
		<table>
		<tr>
			<td>
				<h1><a href="/most_relevants_html"> MAIS RELEVANTES </a></h1>
			</td>
			<td>
				<h1><a href="/most_relevants"> MAIS RELEVANTES JSON</a></h1>
			</td>
			<td>
				<h1><a href="/most_mentions_html"> MAIS MENÇÕES </a></h1>
			</td>
			<td>
				<h1><a href="/most_mentions"> MAIS MENÇÕES JSON</a></h1>
			</td>
		</table>
		</tr>
	</table>
</body>
</html>