<html>
<body>
	<table>
		<tr>
			<td>
				<h1>HOMEPAGE</h1>
			</td>
		</tr>
		<tr>
			<td>
				<h1><a href="/most_relevants"> MAIS RELEVANTES </a></h1>
			</td>
			<td>
				<h1><a href="/most_mentions"> MAIS MENÇÕES </a></h1>
			</td>
		</tr>
	</table>
</body>
</html>