#home_container{width: 100%; text-align:center;}
#home_container_options{width: 75%; text-align:center; background-color: #E0E0E0; margin: auto; border: solid 1px #666666;}
.home_line{height: 75px;}
.home_options{font-size: 25px; font-weight: bold;}